# Will be formulated as `sqlplus $ORAUSER/$ORAPW@$ORASERVER`
export ORAUSER=MYUSER
export ORAPW='MyP4$$w0rd'
export ORASERVER=oracle.server.tld/oracle_service_name
# Set your ORACLE_HOME if not already in your environment
export ORACLE_HOME=/my/oracle/home
# You can locate the pending/, working/, done/, & etc. folders elsewhere
export EZPFILESDIR=/var/local/ezpaarse/
# You can specify the location of EZPAARSE, if not at localhost:59599
export EZPURL=localhost:59599
# To download EZProxy log files, set credentials, formulated as https://$PROXYUSER:$PROXYPASS@$MYSITE.idm.oclc.org/
export PROXYUSER=myinst
export PROXYPASS='myInst$ecret'
export MYSITE=myinst
