# Will be formulated as `sqlplus $ORAUSER/$ORAPW@$ORASERVER`
export ORAUSER=MYUSER
export ORAPW='MyP4$$w0rd'
export ORASERVER=oracle.server.tld/oracle_service_name
# Set your ORACLE_HOME if not already in your environment
export ORACLE_HOME=/my/oracle/home
# You can locate the pending/, working/, done/ folders elsewhere
export EZPFILESDIR=/var/local/ezpaarse/
